
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <style>
        #overlay {
            position: fixed; /* 定位为固定位置 */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
            display: none; /* 初始时不显示 */
            z-index: 1000; /* 确保在最上层 */
        }

        #registerForm {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }

    </style>
</head>
<body style="margin-left: 50px;margin-right: 50px" id="body">

<h2>New Function</h2>
<hr/>
<form method="post" action="./func/upload"
      enctype="multipart/form-data">
    <label>Func name:</label>
    <input type="text" name="filename"/>
    <br/>

    <label>Func description:</label>
    <input type="text" name="description"/>
    <br/>

    <label>Func file:</label>
    <input type="file" name="file"/>
    <br/>

    <button type="submit">Submit</button>
</form>

<br><br>
<h2>My Functions</h2>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Function name
                    </th>
                    <th>
                        Function description
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody id="list">

                </tbody>

            </table>
        </div>
    </div>
</div>

<script>

    $.get({
        url: "/funcs",
        dataType: 'json',
        success: function (data) {
            //alert(data);
            for (i = 0; i < data.length; i++) {
                // if(data[i].func_status==1) {
                    $("#list").append(
                        "<tr>"
                        + "<td>" + data[i].funcId + "</td>"
                        + "<td>" + data[i].funcName + "</td>"
                        + "<td>" + data[i].funcExplanation + "</td>"
                        + "<td><a>delete</a>｜" +
                        "<a onclick='updateFunc(\"" +
                        data[i].funcId + "\",\"" +
                        data[i].funcName + "\",\"" +
                        data[i].funcExplanation + "\")'>update</a> | "+
                        "<a href='./debug?funcID="+data[i].funcId+"'>debug</a>"+
                        "</td>"
                        + "</tr>"
                    );

            }

        }
    })

    var updateID;

    function updateFunc(funcId,funcName,funcExplanation) {
        updateID=funcId
        $('#body').append(
            '<div id="overlay">\n' +
            '    <div id="registerForm">\n' +
            '        <h2>Update</h2>\n' +
            '        <form>\n' +
            '            <input type="text" id="newname" placeholder="'+funcName+'" required><br>' +
            '            <input type="text" id="newdescription" placeholder="'+funcExplanation+'" required><br>' +
            '            <button type="submit" onclick="update()">Update</button>\n' +
            '        </form>\n' +
            '    </div>\n' +
            '</div>'
        )
        $('#overlay').show();
    }

    function update(){
        $.get({
            url: "/update/func",
            dataType: 'json',
            data:{
                ID:updateID,
                name:  $('#newname').val(),
                des:  $('#newdescription').val(),
            },
            success: function (data) {
                if(data=='ok'){
                    alert("success")
                    $('#overlay').hide()
                }
            }
        })
    }


</script>




</body>
</html>